.cardparentcontainer {
    width: 47.2%;
    height: 377px;
    min-width: 637px;
    margin: 68px 0px 23px 35px;
    padding: 0 0 10px;
    border-radius: 3.8px;
    box-shadow: 0 0 19px 0 rgba(68, 68, 68, 0.1);
    border: solid 0.2px #444444;
    background-color: var(--white-three);
    display: inline-block;
    position: relative;
    /* grid-column-start: 1;
    grid-column-end: 2; */
  }

  .collegeImageContainer {
    width: 637.3px;
    height: 233.2px;
    /* padding: 28.3px 13px 10.8px 14.3px; */
  }

  .collegeTitle {
    width: 260px;
    height: 17px;
    /* margin: 18px 11px 3px 17px; */
    font-family: DINPro;
    font-size: 18.5px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.97;
    letter-spacing: normal;
    text-align: center;
    color: #444444;
  }

  .collegeImage{
    height:100%;
    width:100%;
    filter: brightness(50%);
  }

  .tags{
    /* margin: 107px 7px 0 0; */
    padding: 11px 18px 10px 17px;
    display: inline-block;
    border-radius: 16.5px;
    background-color: #ffffff;

    font-family: DINPro;
    font-size: 13.5px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #444444;
    margin-left: 8px;
  }

  .ratingSquare{
    width: 75px;
    height: 53px;
    margin-top: 32px;
    padding: 9px;
    border-radius: 3.8px;
    background-color: #f5a626;
    color:#ffffff;
    text-align:center;
    position: absolute;
    left: 535px;
    top:0;
  }

  .discountBox{
    width: 347px;
    height: 35px;
    margin-left:-20px;
    margin-top:10px;
    left: 0px;
    padding: 11px 21px 0px 17px;
    background-color: #ccf5e7;
    border-radius: 0 27px 27px 0;
  }

  .promotedBox{
    color:white;
    font-family: DINpro;
    width: 152px;
    height: 0;
    border-bottom: 20px solid #68a7ff;
    border-top: 20px solid #68a7ff;
    border-left: 15px solid transparent;
    font-size: 13.5px;
    position: absolute;
    top: -20px;
    left: 471px;
    text-align:center;
  }

  .discountVectorSymbol{
    width: 29px;
    height: 14px;
    padding: 3px 6px 2px;
    background-color: #dd1c26;
    color:white;
  }

  /* Headings */
  .ranking{
    font-family: DINPro;
    font-size: 13.5px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    position: absolute;
    top:196px;
    left:410px;
  }

  .nearestPlaces{
    font-family: DINPro;
    font-size: 13.5px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: #444444;
  }

  .nearestPlacesDistance{
    font-family: DINPro;
    font-size: 13.5px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: #adadad;
  }

  .boldText{
    color:black;
    font-weight: bold;
    font-family: DINpro;
    font-size: 13.5px;
  }

  .plainTextBlack{
    color:black;
    font-family: DINpro;
    font-size: 13.5px;
  }

  .plainText{
    color: #adadad;
    font-size: 13.5px;
    font-family: DINpro;
  }

  .plainTextBlueGreen{
    color: #1999d2;
    font-size: 13.5px;
    font-family: DINpro;
  }

  .plainTextBlue{
    font-family: DINPro;
    font-size: 13.5px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: #37b396;
  }

  .semFees{
    font-family: DINPro;
    font-size: 28.5px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.89;
    letter-spacing: normal;
    color: #dd1c26;
    display: block;
  }

  .semCycle{
    font-family: DINPro;
    font-size: 11px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.64;
    letter-spacing: normal;
    text-align: center;
    color: #444444;
  }

  .originalFees{
    font-family: DINPro;
    font-size: 11px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.64;
    letter-spacing: normal;
    text-align: center;
    color: #444444;
  }