
  .ParentDivTitle{
    margin: 40px 301px 0px 17px;
    font-family: DINpro;
    font-size: 18.5px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.97;
    letter-spacing: normal;
    text-align: left;
    color: #444444;
    display: block;
  }